---
layout: default
---

<article class="post">
  <header>
    <h1>{{ page.title }}</h1>
    <p><small>{{ page.date | date: "%B %-d, %Y" }}</small></p>
  </header>

  <section class="post-content">
    {{ content }}
  </section>

  {% if page.tags %}
  <footer class="post-tags">
    <p><strong>Tags:</strong>
      {% for tag in page.tags %}
        <a href="{{ '/tags/#' | append: tag | slugify | prepend: site.baseurl }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  </footer>
  {% endif %}
</article>
<section class="post-comments">
  <h2>Comments</h2>
  <div id="giscus_container"></div>
  <script src="https://giscus.app/client.js"
          data-repo="jeffthomasiii/Just-a-Thought"
          data-repo-id="R_kgDOPEiFqw"
          data-category="Comments"
          data-category-id="DIC_kwDOPEiFq84CsZHi"
          data-mapping="url"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</section>
